.map-wrapper {
  height: calc(100vh - var(--v-layout-top));
  display: flex;
  flex-direction: row;

  .map-data {
    flex-basis: 30%;
  }

  .map-container {
    z-index: 0;
    height: 100%;
    background: rgb(18 18 18);
    flex-basis: 70%;
  }
}