<div class="map-wrapper">
    <div class="map-data">
        <v-card class="mx-auto">
            <v-list v-model:opened="open">
                <v-list-item prepend-icon="mdi-home" title="Home"></v-list-item>

                <v-list-group value="Users">
                    <template v-slot:activator="{ props }">
                        <v-list-item
                            v-bind="props"
                            prepend-icon="mdi-account-circle"
                            title="Схроны"
                        ></v-list-item>
                    </template>

                    <v-list-group v-for="type in test.CacheList">
                        <template v-slot:activator="{ props }">
                            <v-list-item v-bind="props" :title="type.Classname"></v-list-item>
                        </template>

                        <v-list-item
                            v-for="(coordinates, i) in type.Coords"
                            :key="i"
                            prepend-icon="mdi-vuetify"
                            :value="coordinates"
                        >
                            <v-icon icon="mdi-alpha-x"></v-icon>{{coordinates.Position[0]}}<br>
                            <v-icon icon="mdi-alpha-z"></v-icon>{{coordinates.Position[1]}}<br>
                            <v-icon icon="mdi-alpha-y"></v-icon>{{coordinates.Position[2]}}<br>
                            <template v-slot:append>
                                <v-btn
                                  color="grey-lighten-1"
                                  icon="mdi-file-edit-outline"
                                  variant="text"
                                ></v-btn>
                                <v-btn
                                  color="grey-lighten-1"
                                  icon="mdi-map-marker-down"
                                  variant="text"
                                  @click="zoomToMarker(coordinates.Position[0], coordinates.Position[2])"
                                ></v-btn>
                              </template>
                        </v-list-item>
                    </v-list-group>

                    <!-- <v-list-group value="Actions">
                        <template v-slot:activator="{ props }">
                            <v-list-item v-bind="props" title="Actions"></v-list-item>
                        </template>

                        <v-list-item
                            v-for="([title, icon], i) in cruds"
                            :key="i"
                            :value="title"
                            :title="title"
                            :prepend-icon="icon"
                        ></v-list-item>
                    </v-list-group> -->
                </v-list-group>
            </v-list>
        </v-card>
    </div>
    <div class="map-container" ref="mapContainer"></div>
</div>
