<template src="./Map.html"></template>
<style src="./Map.scss" lang="scss"></style>
<script lang="ts">
import { defineComponent } from 'vue';
import { NHSMarker } from '../../../MapTools/ExtendedMarker';
import { getLatLng } from '../../../MapTools/Utils';
import { createMap } from '../../../map';
import { test } from '../../../test';
import { onMounted, ref } from 'vue';
import L from 'leaflet';

const App = defineComponent({
    setup() {
        const mapContainer = ref<HTMLElement>();
        const open = ref([]);
        const map = ref<L.Map>();

        onMounted(() => {
            console.log(mapContainer.value);
            map.value = createMap(mapContainer.value!);

            createMarkers(map.value);
        });

        function createMarkers(map: L.Map) {
            test.CacheList.forEach((clIt) => {
                clIt.Coords.forEach((coord) => {
                    const cd = getLatLng(coord.Position[0], coord.Position[2]);
                    const marker = new NHSMarker([cd.lat, cd.lng]);
                    marker.addTo(map);
                });
            });
        }

        function zoomToMarker(lat: number, lng: number) {
            const latlng = getLatLng(lat, lng);
            map.value!.setView(latlng, 8);
        }
        return {
            mapContainer,
            open,
            test,
            zoomToMarker,
        };
    },
});

export default App;
</script>
