<template src="./App.html"></template>
<style src="./App.scss" lang="scss"></style>
<script lang="ts">
import { defineComponent } from 'vue';

const App = defineComponent({
    setup() {
        return {};
    },
});

export default App;
</script>
