.app {
  width: 100%;
  height: 100%;

  &.demo {
    height: 100%;

    .content {
      height: 100%;

      .nav {
        height: 100% !important;
        padding: 0;

        & > * {
          height: 100%;
        }
      }

    }
  }

  &.widget {
    background: rgba(39, 39, 68, 0.74);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: pre-wrap;

    .content {
      position: relative;
      background: rgba(var(--default-background), 0.74);
      width: var(--widget-width);
      max-width: var(--widget-width);
      min-height: 300px;
    }

  }
  &.blocks {
    background: transparent;
    overflow: hidden;

    .content {
      width: 100%;
      height: 100%;
      background: transparent;

      .nav {
        height: 100%;
        background: transparent;
        padding: 0;
        overflow: auto;
      }
    }
  }
}

@media (max-width: 480px) {
  .widget {
    .content {
      height: 100%;
      overflow: auto;
      border-radius: 0;
    }
    .nav {
      overflow: auto;
    }
  }
  .nav {
    height: 100% !important;
    border-radius: 0;
    overflow: scroll;
  }
}

@media (min-width: 481px) {
  .widget {
    .content {
      border-radius: var(--widget-border-radius);
    }
  }
  .nav {
    border-radius: var(--widget-border-radius);
    overflow: hidden;
  }
}

.nav {
  min-height: 350px;
  background: var(--background);
  padding: var(--widget-padding);

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.nav {
  transition: height 300ms ease-in-out;
}

.load {
  transition: height 300ms ease-in-out;
}
