<div class="app">
    <v-theme-provider theme="dark" with-background>
        <v-card>
            <v-layout>
                <v-app-bar title="Application bar"></v-app-bar>
                <v-navigation-drawer>
                    <v-list>
                        <v-list-item
                            prepend-avatar="https://cdn.discordapp.com/icons/992929780288716840/a_33cff48d4d42bde933a198b40526eda3.webp?size=96"
                            title="No Hope Stalker"
                            subtitle="Server helper"
                        ></v-list-item>
                    </v-list>

                    <v-divider></v-divider>

                    <v-list density="compact" nav>
                        <v-list-item
                            prepend-icon="mdi-folder"
                            title="Cache Map"
                            value="CacheMap"
                        ></v-list-item>
                        <v-list-item
                            prepend-icon="mdi-account-multiple"
                            title="Shared with me"
                            value="shared"
                        ></v-list-item>
                        <v-list-item
                            prepend-icon="mdi-star"
                            title="Starred"
                            value="starred"
                        ></v-list-item>
                    </v-list>
                </v-navigation-drawer>
                <v-main style="min-height: 300px;">
                    <router-view />
                </v-main>
                <!-- <v-main style="height: 250px"></v-main> -->
            </v-layout>
        </v-card>
    </v-theme-provider>
</div>
